In [1]:
import pandas as pd

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import collections
from itertools import chain
from datetime import datetime, timedelta
import networkx as nx
from networkx.algorithms import bipartite
from tqdm.notebook import tqdm
import imageio
import os

In [2]:
df = pd.read_csv('rappler-business-with-ner-timestep-sentiment-score.csv')
df = df[['date', 'id', 'unique_entities']]
df['date'] = pd.to_datetime(df['date'])
df['unique_entities'] = [eval(l) for l in df['unique_entities']]
df = df.sort_values('date')
df.head()

,date,id,unique_entities
0,2022-01-01 12:59:53,1542619,"[Typhoon Odette, Arthur Yap]"
1,2022-01-01 19:54:55,1543036,"[Marek Drimal, Nureddin Nebati, Tayyip Erdogan]"
2,2022-01-01 20:29:57,1543064,"[Ridwan Jamaludin, Perusahaan Listrik Negara, ..."
3,2022-01-02 11:34:10,1543150,"[Ramon Lopez, Rodrigo Duterte, Typhoon Odette]"
4,2022-01-03 21:00:57,1544290,"[Perusahaan Listrik Negara, Puneet Gupta, Sri ..."

In [3]:
df.dtypes

date               datetime64[ns]
id                          int64
unique_entities            object
dtype: object