In [1]:
import pandas as pd
from system_fns import ArticleEntityAnalysis
from system_fns import average_weighted_clustering_coefficient

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import collections
from itertools import chain
from datetime import datetime, timedelta
import networkx as nx
from networkx.algorithms import bipartite
from tqdm.notebook import tqdm
import imageio
import os

In [2]:
df = pd.read_csv('rappler-business-with-ner-timestep-sentiment-score.csv')
df = df[['date', 'id', 'unique_entities']]
df['date'] = pd.to_datetime(df['date']).dt.date
df['unique_entities'] = [eval(l) for l in df['unique_entities']]
df = df.sort_values('date')
df.head()

         date       id                                    unique_entities
0  2022-01-01  1542619                       [Typhoon Odette, Arthur Yap]
1  2022-01-01  1543036    [Marek Drimal, Nureddin Nebati, Tayyip Erdogan]
2  2022-01-01  1543064  [Ridwan Jamaludin, Perusahaan Listrik Negara, ...
3  2022-01-02  1543150     [Ramon Lopez, Rodrigo Duterte, Typhoon Odette]
4  2022-01-03  1544290  [Perusahaan Listrik Negara, Puneet Gupta, Sri ...

In [3]:
print("Number of unique articles:", df['id'].nunique())
print("Earliest datetime record:", df['date'].min())
print("Latest datetime record:", df['date'].max())
df.dtypes

Number of unique articles: 2871
Earliest datetime record: 2022-01-01
Latest datetime record: 2023-07-22

date               object
id                  int64
unique_entities    object
dtype: object

In [4]:
trial = df.query("date <= @pd.to_datetime('2022-01-05').date()")
trial

          date       id                                    unique_entities
0   2022-01-01  1542619                       [Typhoon Odette, Arthur Yap]
1   2022-01-01  1543036    [Marek Drimal, Nureddin Nebati, Tayyip Erdogan]
2   2022-01-01  1543064  [Ridwan Jamaludin, Perusahaan Listrik Negara, ...
3   2022-01-02  1543150     [Ramon Lopez, Rodrigo Duterte, Typhoon Odette]
4   2022-01-03  1544290  [Perusahaan Listrik Negara, Puneet Gupta, Sri ...
5   2022-01-04  1545021  [Perusahaan Listrik Negara, Sabrin Chowdhury, ...
6   2022-01-05  1545089  [Rodrigo Duterte, Benjamin Diokno, Karl Chua, ...
7   2022-01-05  1545338  [Jim Cain, Mary Barra, Randy Parker, Jack Hollis]
8   2022-01-05  1545375      [Kristalina Georgieva, Gerry Rice, Joe Biden]
9   2022-01-05  1545834  [Perusahaan Listrik Negara, Erick Thohir, Muha...
10  2022-01-05  1545857                        [Eric Huang, Tseng Hou jen]

In [5]:
analyze = ArticleEntityAnalysis(df)

In [ ]:
analyze.rolling_window_analysis(function=average_weighted_clustering_coefficient,
                                window=(1,10),
                                kind='article')

  0%|          | 0/10 [00:00<?, ?it/s]

In [ ]:
analyze.rolling_window_analysis(function=average_weighted_clustering_coefficient,
                                window=(1,10),
                                kind='entity')